<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hey, {{name}}</p>
  <p>It seems that you requested a password recover.</p>
  <p>If was you, click above to create a new password.</p>
  <p>
    <a href="{{link}}">Reset password</a>
  </p>
  <p>If was not you, please ignore this e-mail.</p>
  <p>
    Thank you!<br />
    <strong>GoBarber Team</strong>
  </p>
</div>
